apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
        - name: celery-worker
          image: mutation-browser-api:local
          imagePullPolicy: IfNotPresent
          command: ["celery"]
          args: ["-A", "backend.celery_app.celery_app", "worker", "--loglevel=info"]
          env:
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: mutation-browser-config
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: mutation-browser-config
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mutation-browser-secrets
                  key: DB_PASSWORD
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: mutation-browser-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: mutation-browser-config
                  key: DB_PORT
            - name: CELERY_BROKER_URL
              valueFrom:
                configMapKeyRef:
                  name: mutation-browser-config
                  key: CELERY_BROKER_URL
            - name: CELERY_RESULT_BACKEND
              valueFrom:
                configMapKeyRef:
                  name: mutation-browser-config
                  key: CELERY_RESULT_BACKEND
